# GCP
GCP_PROJECT=seu-projeto-gcp
BQ_LOCATION=US

# BigQuery datasets
BQ_DATASET_RAW=it_raw
BQ_DATASET_STAGING=it_staging
BQ_DATASET_INTERMEDIATE=it_intermediate
BQ_DATASET_MARTS=it_marts

# Credenciais
GOOGLE_APPLICATION_CREDENTIALS=/caminho/local/para/sua-chave.json